---
---
@import "{{ site.theme }}";

.project-name, .project-tagline {
  display: none;
}

.page-header {
  /* Replace the URL with your image path */
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  /* Optional: Adjust height if your image is tall */
  padding: 5rem 6rem; 
}
